<div class="overflow-hidden h-screen w-screen absolute top-0">
    <app-floating-expertise-logos></app-floating-expertise-logos>
</div>

<div class="flex align-items-center justify-content-center flex-column text-center h-screen overflow-hidden">
    <h1 class="w-auto lg:text-6xl md:text-5xl text-4xl transparent-background p-2 inline-block">Hey! 👋, <br> I'm Muhammed Ensar </h1>
    <h4 class="xl:w-5 sm:w-8 w-11 md:text-xl text-lg transparent-background p-2">
        I'm a full-stack enthusiast who likes taking on complex challenges, right from brainstorming
        to turning them into code. Feedback is my go-to for improvement, and I love working with others to come up
        with unique and inventive solutions for various problems. I also like working on complex algorithms and have
        a deep interest in AI. Feel free to explore my projects! 
    </h4>
    <div class="xl:w-6 lg:w-8 justify-content-center text-center py-4 px-8">

    </div>
    <div class="flex w-full flex-row justify-content-center">
        <a *ngFor="let social of socials" class="font-bold text-xl no-underline text-color mr-3" [href]="social.url"
            target="_blank">
            <i [class]="social.icon" style="font-size: 2.5rem;"></i>
        </a>
    </div>
</div>
