<div class="overflow-hidden h-screen w-screen absolute top-0">
    <app-floating-expertise-logos></app-floating-expertise-logos>
</div>

<div
    class="flex align-items-center justify-content-center flex-column text-center h-screen overflow-hidden z-1 fixed top-0">
    <h1 class="w-auto lg:text-6xl md:text-5xl text-4xl transparent-background p-2 inline-block mb-3">Hey! 👋, <br> I'm
        Muhammed Ensar </h1>
    <h4 class="xl:w-5 sm:w-8 w-11 md:text-xl text-lg transparent-background p-2">
        I'm a full-stack enthusiast who likes taking on complex challenges, right from brainstorming to turning them
        into code. Feedback is my go-to for improvement, and I love working with others to come up with unique and
        inventive solutions for various problems. I also like working on complex algorithms and have a deep interest in
        AI.
        <br>
        <br>
        If you have background animations toggled on at the top of your screen, you will get a glimpse of the frameworks
        and technologies I have experience with floating by. If you want to explore my whole portfolio, click the button
        below.
    </h4>
    <div class="flex w-auto flex-row justify-content-center transparent-background p-2 inline-block">
        <a *ngFor="let social of socials; index as i" class="font-bold text-xl no-underline text-color"
            [ngClass]="i === socials.length-1 ? '' : 'mr-3'" [href]="social.url" target="_blank">
            <i [class]="social.icon" style="font-size: 2.5rem;"></i>
        </a>
    </div>
</div>