<div class="flex align-items-center flex-column text-center h-screen overflow-hidden z-1 relative">
    <h1 class="w-auto lg:text-6xl md:text-5xl text-4xl transparent-background p-2 inline-block">My portfolio </h1>
    <h4 class="xl:w-5 sm:w-8 w-11 md:text-xl text-lg transparent-background p-2">
        Explore my portfolio of completed software projects, categorized by the technologies and frameworks they are
        built on. Click on the icons below to filter and discover projects tailored to your interests.
        <br>
        <br>
        Some of the projects are public. To view the source code, click on the icon at the end of the project title.
    </h4>
    <div class="border-5 border-round-xl xl:w-5 sm:w-8 w-11 h-4rem">

    </div>
</div>