@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.transparent-background {
  background-color: rgba($color: var(--surface-ground), $alpha: 0.5);
  border-radius: var(--border-radius);
}