@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import 'primeflex/core/_variables.scss';

@media screen and (max-width: 960px) {
    .p-menubar {
        .p-menubar-end {
            display: none;
        }

        .p-menubar-button {
            position: absolute;
            right: 32px;
        }
    }
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.transparent-background {
    background-color: color-mix(in srgb, var(--surface-ground) 50%, transparent);
    border-radius: var(--border-radius);
}