<p-menubar [model]="items" class="relative w-full z-5" styleClass="transparent-background">
    <ng-template pTemplate="start">
        <div class="flex">
            <a [routerLink]="['/home']">
                <img id="logo" src="assets/logo-dark.svg" height="30" class="mr-6" />
            </a>
            <div class="lg:hidden flex">
                <div *ngIf="currentRoute === '/' || currentRoute === '/home'" class="font-bold mr-3">
                    <p-toggleButton [(ngModel)]="animationEnabled" (onChange)="toggleAnimation()"
                        onIcon="pi pi-power-off" offIcon="pi pi-play">
                    </p-toggleButton>
                </div>
                <div class="font-bold">
                    <p-toggleButton [(ngModel)]="darkModeEnabled" (onChange)="toggleTheme()" onIcon="pi pi-sun"
                        offIcon="pi pi-moon">
                    </p-toggleButton>
                </div>
            </div>
        </div>

    </ng-template>
    <ng-template pTemplate="end">
        <div class="hidden lg:flex">
            <div *ngIf="currentRoute === '/' || currentRoute === '/home'" class="font-bold mr-3">
                <p-toggleButton [(ngModel)]="animationEnabled" (onChange)="toggleAnimation()" onIcon="pi pi-power-off"
                    onLabel="Turn off background animation" offIcon="pi pi-play"
                    offLabel="Turn on background animation">
                </p-toggleButton>
            </div>
            <div class="font-bold">
                <p-toggleButton [(ngModel)]="darkModeEnabled" (onChange)="toggleTheme()" onIcon="pi pi-sun"
                    onLabel="Switch to light mode" offIcon="pi pi-moon" offLabel="Switch to dark mode">
                </p-toggleButton>
            </div>
        </div>
    </ng-template>
</p-menubar>